// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
 
// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';
 
$brown: #a52a2a;
$yellow: #ffc107;
 
.brown {
   background-color: $brown;
}
 
.text-yellow {
   color: $yellow;
}
